## Vacuum Level / Work Function

SYSTEM  = {{ system_name }}
PREC    = Accurate
ENCUT   = {{ encut }}
NCORE   = {{ ncore }}
IVDW    = {{ ivdw }}
LREAL   = {{ lreal }}
ADDGRID = {{ addgrid }}

ISPIN   = {{ ispin }}
ICHARG  = 11
LORBIT  = 11

ISMEAR  = 0
SIGMA   = 0.05
EDIFF   = {{ ediff }}

IDIPOL  = 3
LVHAR   = .TRUE.

NSW     = 0
IBRION  = -1

LWAVE   = .TRUE.
LCHARG  = .TRUE.
