## PBE DOS/PDOS

SYSTEM  = {{ system_name }}
PREC    = Accurate
ENCUT   = {{ encut }}
NCORE   = {{ ncore }}
IVDW    = {{ ivdw }}
LREAL   = {{ lreal }}
ADDGRID = {{ addgrid }}

ISPIN   = {{ ispin }}
ICHARG  = 11
LORBIT  = 11
NEDOS   = {{ nedos }}
EMIN    = -10
EMAX    = 10

ISMEAR  = 0
SIGMA   = 0.05
EDIFF   = {{ ediff }}

NSW     = 0
IBRION  = -1
LWAVE   = .FALSE.
LCHARG  = .FALSE.
