## HSE06 Band Calculation
## VASPKIT 251 regenerates KPOINTS; do not reuse WAVECAR after k-mesh changes.

SYSTEM  = {{ system_name }}
PREC    = Accurate
ENCUT   = {{ encut }}
NCORE   = {{ ncore }}
LREAL   = {{ lreal }}
ADDGRID = {{ addgrid }}

ISTART  = 0
ICHARG  = 11
ISPIN   = {{ ispin }}

LHFCALC = .TRUE.
AEXX    = {{ aexx }}
HFSCREEN = {{ hfscreen }}
ALGO    = {{ algo }}
TIME    = {{ time }}
PRECFOCK = {{ precfock }}
ISYM    = 0

LORBIT  = {{ lorbit }}
NEDOS   = {{ nedos }}

ISMEAR  = 0
SIGMA   = 0.05
EDIFF   = {{ ediff }}
NELM    = 200
NELMIN  = 6

NSW     = 0
IBRION  = -1

LWAVE   = .FALSE.
LCHARG  = .FALSE.
